.guide-screen__inner__left {
    width: 20%;
}

.guide-screen__inner__left__inner {
    margin: 0 auto;
    width: 80%;
}

.guide-screen__inner__left__inner h3 {
    /* display: block; */
    background-color: #ddd;
    text-align: center;
    line-height: 40px;
    font-size: 20px;
    font-weight: 600;
    color: #fff;
}

.guide-screen__inner__left__inner li {
    border-bottom: 1px solid #333;
    padding-left: 10px;
}

.guide-screen__inner__right {
    width: 80%;
}