.main-screen {
    z-index: -1;
}

.main-screen__link-slide {
    display: flex;
    margin-top: 46px;
}

.main-screen__link {
    width: 345px;
    height: 358px;
    box-sizing: border-box;
}

.main-screen__link ul {
    display: flex;
    flex-wrap: wrap;
}

.main-screen__link li {
    width: 115px;
    height: 179px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.main-screen__link li span {
    display: block;
    margin-top: 10px;
}